<p> From index.html.erb <p>
<% @cocktails.each do |cocktail| %>
  <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
<% end %>
<%= link_to "New cocktail", new_cocktail_path, class: "btn btn-primary" %>

<!-- app/views/pages/home.html.erb -->
<%= cl_image_tag("sample.jpg", :angle =>315,
      width: 200, height: 150, crop: :fill) %>


