
<h2><%= @cocktail.name %></h2>

<%= link_to "Delete cocktail", cocktail_path(@cocktail), method: :delete, class: "btn btn-primary" %>
<%= link_to "Back", cocktails_path, class: "btn btn-primary" %>

